{% extends 'templates/_baseDivision.html' %}

{% block PageStyle %}

	.full-width {
		max-width: none;
		width: 90% !important;
	}

	.border-top { 
		border-top: 1px solid #e5e5e5; 
	}
	
	.border-bottom { 
		border-bottom: 1px solid #e5e5e5; 
	}
		
	.border-top-gray { 
		border-top-color: #adb5bd; 
	}

	.box-shadow { 
		box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); 
	}

	.lh-condensed { 
		line-height: 1.25; 
	}
	
	#attachment {
		height: none;
	}
	
	.btn-primary {
		background-color: rgb(6,80,140);
	} 
	

	.izIdea {
	
	
		min-height: 600px;
	
	}
	
	.izIdea .card {
		box-shadow:  5px 5px 5px 5px rgba(215,220,230,0.5);
	}
	.izIdea .card:hover {
		box-shadow: 5px 5px 5px 5px rgba(6,80,140,0.5);
	}
	
	
	.izIdea .btn-primary, 
	.izIdea .btn-primary:focus, 
	.izIdea .btn-primary:visited, 
	.izIdea .btn-primary:hover, 
	.izIdea .btn-primary:active {
		background-color: rgba(6,80,140,1);
		border-color: rgba(6,80,140,1);
	}
	
	.izIdea .container {

		box-shadow: 10px #adb5bd;  
		padding-bottom: 50px;
	}
	
	.izIdea .card-footer svg {
		color: rgba(165,175,180,1);
	}
	.izIdea .card-footer svg:hover {
		cursor: pointer;
		color: rgba(6,80,140,1);
	}
	
	.izIdea .fa-layers-counter {
		background-color: rgba(6,80,140,1);
		/*font-size: 1.5em;*/
		top: auto;
		transform-origin: right;

	}
	
	.izIdea div.actions .fa-layers.fa-fw {
		width: 2em;
		height: 1.5em;
		font-size: 1.70em;
	}
		
	.izIdea div.actions .fa-layers-counter {
		width: 2em;
		font-size: 1.75em;
		min-width: 2.5em;
		width: 2.5em;
	}
	 
	 
	
	.izIdea .btn {
		// Should be bigger than fa-2x
		padding-top: 15px;
		padding-bottom: 15px;
	}
		
{% endblock %}

{% block PageLeft %}

	<h4 class="d-flex justify-content-between align-items-center mb-3">
		<span class="text-muted">Afspraken</span>
	</h4>
	<ul class="list-group mb-3">
	
		<li class="list-group-item d-flex justify-content-between lh-condensed" id="info-voting">
			<div>
				<h6 class="my-0">Stemmen op idee&euml;n</h6>
				<small class="text-muted">Iedereen kan stemmen op een idee. Daarvoor heb je wel een login nodig, maar je kan perfect met je Facebook-account aanmelden.</small>
			</div>
		</li>
		
	</ul>
	<ul class="list-group mb-3">
		
		<li class="list-group-item d-flex justify-content-between lh-condensed" id="info-share-idea">
			<div>
				<h6 class="my-0">Ideeën delen</h6>
				<small class="text-muted">Iedereen kan een idee insturen. Een medewerker moet je idee wel goedkeuren: dit doen we enkel om SPAM en misplaatste berichten tegen te gaan.</small>
			</div>
		</li>
		
	</ul>

{% endblock %}

{% block PageMain %}

	<div class="row">

		{% for Idea in Ideas %}

			<div class="col-12 col-md-6 col-xl-4 izIdea" data-participationidea-id="{{ Idea.key }}">
				<div class="h-100 pb-5">
					<div class="card h-100">
					  <img class="card-img-top" src="https://cl2-tenants-production-benelux.s3.amazonaws.com/uploads/94774368-0e9d-406c-a765-457d58242666/idea_image/image/3a6e0557-ec89-4344-b413-c02766167cb1/large_image.jpeg" alt="Card image">
					  <div class="card-body">
						<h4 class="card-title">{{ Idea.fields.title }}</h4>
						<p class="card-text">{{ Idea.fields.description }}</p>
						</div>
						<div class="card-footer">
							<div class="row">
							
								<div class="col-12 text-center actions">
								
									 <span class="fa-layers fa-fw fa-2x">
										<i class="fas fa-info-circle"></i>
									</span>
									
									 <span class="fa-layers fa-fw fa-2x">
										<i class="far fa-thumbs-up" data-action="participation-vote"></i> 
										<span class="fa-layers-counter fa-lg">19</span>
									</span>

								</div>
								
							
							</div>
					  </div>
					</div>
				</div>			
				
			</div>


		{% endfor %}
	

	</div>
	
{% endblock %}

{% block PageScripts %}

	<script>
	
		$(document.body).on('click', '[data-action]', function(e) {
					
			switch( $(this).attr('data-action') ) {

				case 'participation-vote':
					
					$.ajax({
						url: 'api.php',
						type: 'POST',
						dataType: 'json',
						data: {
							action: 'vote',
							participationidea_id: $(this).closest('[data-participationidea-id]').attr('data-participationidea-id')
						},
						success: function(data){
						
							if( typeof data.errorMsgs === 'undefined' ) {
								
								// Redirect. Will not work properly if not authenticated.
								dialogOK('Gestemd!', 'Bedankt, je stem werd registreerd!');
								
							}
							else {
							
								dialogError('Registreren mislukt', data.errorMsgs)
							
							}
							
						}
					});
				
					break;
					
				default:
					break;
		
			
			}
		
		});
	
	
	</script>
	 
{% endblock %}