
[submodule "web/extensions/jb-sim"]
	path = web/extensions/jb-sim
	url = https://github.com/jbostoen/itop-jb-sim.git
[submodule "web/extensions/jb-software-mgmt"]
	path = web/extensions/jb-software-mgmt
	url = https://github.com/jbostoen/itop-jb-software-mgmt.git
[submodule "web/extensions/jb-ssid"]
	path = web/extensions/jb-ssid
	url = https://github.com/jbostoen/itop-jb-ssid.git

[submodule "web/extensions/jb-tweaks-change-mgmt-itil"]
	path = web/extensions/jb-tweaks-change-mgmt-itil
	url = https://github.com/jbostoen/itop-jb-tweaks-change-mgmt-itil.git
[submodule "web/extensions/jb-framework"]
	path = web/extensions/jb-framework
	url = https://github.com/jbostoen/itop-jb-framework.git
[submodule "wip/extensions/jb-ldap"]
	path = wip/extensions/jb-ldap
	url = https://github.com/jbostoen/itop-jb-ldap.git

[submodule "web/extensions/jb-crab"]
	path = web/extensions/jb-crab
	url = https://github.com/jbostoen/itop-jb-crab.git
[submodule "wip/extensions/jb-reportgen"]
	path = wip/extensions/jb-reportgen
	url = https://github.com/jbostoen/itop-jb-report-generator.git
[submodule "wip/extensions/jb-action-rest"]
	path = wip/extensions/jb-action-rest
	url = https://github.com/jbostoen/itop-jb-action-rest.git
[submodule "web/extensions/jb-authenticationmethod"]
	path = web/extensions/jb-authenticationmethod
	url = https://github.com/jbostoen/itop-jb-authenticationmethod.git
[submodule "web/extensions/jb-mail-to-ticket-automation-v2"]
	path = web/extensions/jb-mail-to-ticket-automation-v2
	url = https://github.com/jbostoen/itop-jb-mail-to-ticket-automation-v2.git


[submodule "utils/Bash scripts"]
	path = utils/Bash scripts
	url = https://github.com/jbostoen/itop-jb-bash-scripts.git
	
[submodule "utils/PHP class for iTop API"]
	path = utils/PHP class for iTop API
	url = https://github.com/jbostoen/itop-jb-rest-php.git
[submodule "utils/PowerShell module for iTop API"]
	path = utils/PowerShell module for iTop API
	url = https://github.com/jbostoen/itop-jb-powershell.git
[submodule "web/extensions/jb-monitor"]
	path = web/extensions/jb-monitor
	url = https://github.com/jbostoen/itop-jb-monitor.git
[submodule "web/extensions/jb-contactmethod"]
	path = web/extensions/jb-contactmethod
	url = https://github.com/jbostoen/itop-jb-contactmethod.git
[submodule "web/extensions/jb-map"]
	path = web/extensions/jb-map
	url = https://github.com/jbostoen/itop-jb-pro-extensions.git
[submodule "web/extensions/jb-ticket-merge"]
	path = web/extensions/jb-ticket-merge
	url = https://github.com/jbostoen/itop-jb-pro-extensions.git
