[submodule "web/extensions/jb-mail-to-ticket-automation-v2"]
	path = web/extensions/jb-mail-to-ticket-automation-v2
	url = git@github.com:jbostoen/itop-jb-mail-to-ticket-automation-v2.git
[submodule "utils/PowerShell module for iTop API"]
	path = utils/PowerShell module for iTop API
	url = git@github.com:jbostoen/itop-jb-powershell.git

[submodule "web/extensions/jb-sim"]
	path = web/extensions/jb-sim
	url = https://github.com/jbostoen/itop-jb-sim.git
[submodule "web/extensions/jb-software-mgmt"]
	path = web/extensions/jb-software-mgmt
	url = https://github.com/jbostoen/itop-jb-software-mgmt.git
[submodule "web/extensions/jb-ssid"]
	path = web/extensions/jb-ssid
	url = https://github.com/jbostoen/itop-jb-ssid.git

[submodule "web/extensions/jb-tweaks-change-mgmt-itil"]
	path = web/extensions/jb-tweaks-change-mgmt-itil
	url = https://github.com/jbostoen/itop-jb-tweaks-change-mgmt-itil
[submodule "web/extensions/jb-framework"]
	path = web/extensions/jb-framework
	url = https://github.com/jbostoen/itop-jb-framework
[submodule "wip/extensions/jb-ldap"]
	path = wip/extensions/jb-ldap
	url = https://github.com/jbostoen/itop-jb-ldap

[submodule "web/extensions/jb-crab"]
	path = web/extensions/jb-crab
	url = https://github.com/jbostoen/itop-jb-crab
