<html>

	<head>
		
		<title>UserRequest: overview</title>
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		
	</head>

	<body>
	
		<div class="container">
		
			<h1>Sample header</h1>
				
			{% for item in items %}
			
					<div class="row">
						<div class="col-2">
							{{ item.key }}
						</div>
						<div class="col-5">
							{{ item.fields.title }}
						</div>
						<div class="col-5">
							{{ item.fields.caller_name }}
						</div>
					</div>		
			
			{% endfor %}
			
		</div>
	
	</body>
	
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js" integrity="sha384-pjaaA8dDz/5BgdFUPX6M/9SUZv4d12SUPF0axWc+VRZkx5xU3daN+lYb49+Ax+Tl" crossorigin="anonymous"></script>
	
	
	
</html>