<!doctype html>
<!-- Unfinished front end -->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
	

    <title>Checkout example for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../libext/vendor/twbs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <style>
		.container {
		  max-width: 960px;
		}

		.border-top { border-top: 1px solid #e5e5e5; }
		.border-bottom { border-bottom: 1px solid #e5e5e5; }
		.border-top-gray { border-top-color: #adb5bd; }

		.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

		.lh-condensed { line-height: 1.25; }
	</style>
  </head>

  <body class="bg-light">

    <div class="container">
      <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h2>Report problem</h2>
        <p class="lead">Report your problem with our infrastructure.</p>
      </div>

      <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Before you submit</span> 
          </h4>
          <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">Street lights</h6>
                <small class="text-muted">We do not service street lights. Direct your report to ...</small>
              </div> 
            </li>
            
          </ul>
 
		  
		  
        </div>
        <div class="col-md-8 order-md-1">
          <h4 class="mb-3">Contact info</h4>
          <form class="needs-validation" novalidate>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="firstName">First name</label>
                <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
                <div class="invalid-feedback">
                  Valid first name is required.
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="lastName">Last name</label>
                <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
                <div class="invalid-feedback">
                  Valid last name is required.
                </div>
              </div>
            </div>

            <div class="mb-3">
              <label for="email">Email <span class="text-muted">(Optional)</span></label>
              <input type="email" class="form-control" id="email" placeholder="you@example.com">
              <div class="invalid-feedback">
                Please enter a valid email address for shipping updates.
              </div>
            </div>

            <div class="mb-3">
              <label for="address">Address</label>
              <input type="text" class="form-control" id="address" placeholder="1234 Main St" required>
              <div class="invalid-feedback">
                Please enter your shipping address.
              </div>
            </div>

            <div class="mb-3">
              <label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
              <input type="text" class="form-control" id="address2" placeholder="Apartment or suite">
            </div>

            <div class="row">
              <div class="col-md-5 mb-3">
                <label for="country">Country</label>
                <select class="custom-select d-block w-100" id="country" required>
                  <option value="">Choose...</option>
                  <option>United States</option>
                </select>
                <div class="invalid-feedback">
                  Please select a valid country.
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <label for="state">State</label>
                <select class="custom-select d-block w-100" id="state" required>
                  <option value="">Choose...</option>
                  <option>California</option>
                </select>
                <div class="invalid-feedback">
                  Please provide a valid state.
                </div>
              </div>
              <div class="col-md-3 mb-3">
                <label for="zip">Zip</label>
                <input type="text" class="form-control" id="zip" placeholder="" required>
                <div class="invalid-feedback">
                  Zip code required.
                </div>
              </div>
            </div>
            <hr class="mb-4">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="same-address">
              <label class="custom-control-label" for="same-address">Shipping address is the same as my billing address</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="save-info">
              <label class="custom-control-label" for="save-info">Save this information for next time</label>
            </div>
            <hr class="mb-4">

            <h4 class="mb-3">My report is about ...</h4>

            <div class="d-block my-3">
				<!-- Get this from our backend? -->
              <div class="custom-control custom-radio">
                <input id="pavement" name="service_category_id" type="radio" class="custom-control-input" checked required>
                <label class="custom-control-label" for="pavement">Pavement</label>
              </div>
              <div class="custom-control custom-radio">
                <input id="streetLights" name="service_category_id" type="radio" class="custom-control-input" required>
                <label class="custom-control-label" for="streetLights">Street lights</label>
              </div>
              <div class="custom-control custom-radio">
                <input id="greenZones" name="service_category_id" type="radio" class="custom-control-input" required>
                <label class="custom-control-label" for="greenZones">Green zones</label>
              </div>
            </div>
           
			
            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Report</button>
          </form>
        </div>
      </div>

      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2018-{{ "now"|date("Y") }}</p>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="">Privacy Statement</a></li>
        </ul>
      </footer>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../libext/vendor/components/jquery/jquery.js"></script>
    <script src="../libext/vendor/twbs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	
    <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function() {
        'use strict';

        window.addEventListener('load', function() {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');

          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
	  
	  
		function createTicket() {
		
			$.post("api.php", { 
				action: "createTicket",
				ticket: {
					title: "A test report from the front-end",
					description: "A test description from the front-end"
				}
			}, function(data){ 
				console.log(data); 
				test = data;
				var ticketFields = data.ticket.objects[ Object.keys(data.ticket.objects)[0] ].fields;
				console.log("Created a ticket with Ref " + ticketFields.ref ); 
			}, "json");
		
		}
	  
    </script>
  </body>
</html>
