{% extends 'framework/templates/_base.html' %}
	

{% block PageContent %}
		
		<div class="form-group">
			<label for="login" class="font-weight-bold">Login (e-mailadres) *</label><br>
			<input id="login" type="text" class="form-control ui-autocomplete-input" placeholder="E-mailadres" autocomplete="off">
		</div>


		<div class="form-group">
			<label for="password" class="font-weight-bold">Wachtwoord *</label><br>
			<input id="password" type="password" class="form-control ui-autocomplete-input" placeholder="Wachtwoord" autocomplete="off">
		</div>
		
		<button id="action-login" class="btn btn-primary w-100">Aanmelden</button>				
		
		
{% endblock %}
	
{% block PageScripts %}

	<script>
	
		$(document.body).on('click', '#action-login', function(e){			
		
			$.ajax({
				url: 'api.php',
				type: 'POST',
				dataType: 'json',
				data: {
					action: 'login',
					login: $('#login').val(),
					password: $('#password').val()				
				},
				success: function(data){
				
					if( typeof data.errorMsgs === 'undefined' ) {
						
						// Redirect. Will not work properly if not authenticated.
						alert('Successful login - redirect to {{ redirectURL }}');
						//document.location.href = '{{ request.redirect }}';
						
					}
					else {
					
						dialogError('Inloggen mislukt', data.errorMsgs)
					
					}
					
				}
			});
			
		});
		
	</script>
	
{% endblock %}