{% extends 'templates/_baseForm.html' %}
	

{% block PageContent %}
		
		<div class="form-group">
			<label for="login" class="font-weight-bold">Login (e-mailadres) *</label><br>
			<input id="login" type="text" class="form-control ui-autocomplete-input" placeholder="E-mailadres" autocomplete="off">
		</div>


		<div class="form-group">
			<label for="password" class="font-weight-bold">Wachtwoord *</label><br>
			<input id="password" type="password" class="form-control ui-autocomplete-input" placeholder="Wachtwoord" autocomplete="off">
		</div>
		
		<div class="form-check">
			<input type="checkbox" class="form-check-input" id="remember_me">
			Herinner mij (gebruikt een cookie)
		</div>
		
		<button data-action="user-login" class="btn btn-primary w-100">Aanmelden</button>
		
		<hr>
		
		<button data-action="user-register" class="btn btn-secondary w-100">Nog geen account?</button>
		
		
{% endblock %}
	
{% block PageScripts %}

	<script>
	
		$(document.body).on('click', '[data-action]', function(e){			
		
			switch( $(this).attr('data-action') ) {
				
				case 'user-login':
					
					$.ajax({
						url: 'api.php',
						type: 'POST',
						dataType: 'json',
						data: {
							action: 'login',
							login: $('#login').val(),
							password: $('#password').val(),
							remember_me: ( $('#remember_me').prop('checked') == true ? 1 : 0 )
						},
						success: function(data){
						
							if( typeof data.errorMsgs === 'undefined' ) {
								
								// Redirect. Will not work properly if not authenticated.
								document.location.href = '{{ RedirectURL }}';
								
							}
							else {
							
								dialogError('Inloggen mislukt', data.errorMsgs)
							
							}
							
						}
					});
					
					break;
					
				case 'user-register':
				
					document.location = 'register.php{% if RedirectURL %}?redirect={{ RedirectURL }}{% endif %}';
					break;
					
				default:
					break;
					
			}
		});
		
	</script>
	
{% endblock %}