{% extends 'templates/_baseForm.html' %}
	
		
{% block PageContent %}	
			
		<div class="form-row">
			<div class="col">
			
				<div class="form-group">
					<label for="first_name" class="font-weight-bold">Voornaam *</label><br>
					<input type="text" id="first_name" class="form-control ui-autocomplete-input" placeholder="Voornaam" autocomplete="off" value="{{ prefill.first_name }}">
				</div>
		
			</div>
			<div class="col">
				
				<div class="form-group">
					<label for="name" class="font-weight-bold">Achternaam *</label><br>
					<input type="text" id="name" class="form-control ui-autocomplete-input" placeholder="Achternaam" autocomplete="off" value="{{ prefill.name }}">
				</div>
				
			</div>
		</div>
			
		<div class="form-group">
			<label for="email" class="font-weight-bold">E-mailadres *</label><br>
			<input type="text" id="email" class="form-control ui-autocomplete-input" placeholder="E-mailadres" autocomplete="off" value="{{ prefill.email }}">
		</div>


		<div class="form-group">
			<label for="password" class="font-weight-bold">Wachtwoord *</label><br>
			<input type="password" id="password" class="form-control ui-autocomplete-input" placeholder="Wachtwoord" autocomplete="off">
		</div>
			
		<div class="form-check">
			<input type="checkbox" class="form-check-input" id="agree_gdpr">
			Akkoord met het verwerken van deze gegevens door Stad Izegem (<a href="https://privacy.izegem.be">privacyverklaring</a>)
		</div>
		
		
		<button data-action="user-register" class="btn btn-primary w-100">Registreren</button>
		
{% endblock %}

	
	
{% block PageScripts %}

	<script>
	
		$(document.body).on('click', '[data-action]', function(e){			
		
			switch( $(this).attr('data-action') ) {
			
				case 'user-register': 
				
					$.ajax({
						url: 'api.php',
						type: 'POST',
						dataType: 'json',
						data: {
							action: 'register',
							person: {
								{% if prefill.facebook_id %}facebook_id: '{{ prefill.facebook_id }}',{% endif %}
								first_name: $('#first_name').val(),
								name: $('#name').val(),
								email: $('#email').val(),
								password: $('#password').val(),
								agree_gdpr: ( $('#agree_gdpr').prop('checked') == true ? 1 : 0 )
							}
						},
						success: function(data){
						
							if( typeof data.errorMsgs === 'undefined' ) {
								
								// Redirect. Will not work properly if not authenticated.
								document.location.href = '{{ RedirectURL }}';
								
							}
							else {
							
								dialogError('Registreren mislukt', data.errorMsgs)
							
							}
							
						}
					});
					
					break;
					
				default: 
					break;
			
			}
		});	
	
	</script>

{% endblock %}