<html>
	<head>
	<style>
	@media print {
    hr {page-break-after: always;}
}

	</style>
	<title>Basisdetails</title>
</head>



<p>Test</p>

<p>
Hey {{ item.first_name }}
</p>

<hr>

pagina 2

</html>