<!doctype html>
<!-- Unfinished front end -->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
	
    <title>Meld een probleem</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="../../libext/vendor/twbs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../libext/vendor/components/jqueryui/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/css/ol.css">
    <link rel="stylesheet" type="text/css" href="../../libext/vendor/blueimp/jquery-file-upload/css/jquery.fileupload.css">
	
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>	
    <script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>
	
    <!-- Custom styles for this template -->
    <style>
		.full-width {
			max-width: none;
			width: 90% !important;
		}

		.border-top { 
			border-top: 1px solid #e5e5e5; 
		}
		
		.border-bottom { 
			border-bottom: 1px solid #e5e5e5; 
		}
			
		.border-top-gray { 
			border-top-color: #adb5bd; 
		}

		.box-shadow { 
			box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); 
		}

		.lh-condensed { 
			line-height: 1.25; 
		}
		
		#attachment {
			height: none;
		}
		
		.btn-primary {
			background-color: rgb(6,80,140);
		}
		
		.ol-zoom button {
			height: 3rem;
			width: 3rem;
		} 
		
		.ui-autocomplete {
			max-height: 250px;
			overflow-y: auto;
			overflow-x: hidden;
		}
		
	</style>
	
  </head>

	<body class="bg-light">
	<form class="needs-validation" novalidate>

		<div class="container full-width">
		  <div class="pt-5 row">
		   
				  <div class="col-md-2 mb-3">
						<img class="d-block mx-auto mb-4 img-fluid" src="templates/logo.png" alt="Logo">
					</div>
				
				  <div class="col-md-10 mb-3 ">
				
					<h2 class="mx-3">Meld een probleem</h2>
					<p class="mx-3 lead">Heb je weet van een probleem met onze infrastructuur? Laat het ons weten.</p>
					
				
				</div>
		</div>
		  
	  
	  
	  
			

      <div class="row">
	  
	  
	  
	  
	  
        <div class="col-12 col-md-4 col-lg-3 order-md-1 mb-4">
		
		
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Voor je stuurt ...</span> 
          </h4>
          <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-condensed" id="info-streetlights">
              <div>
                <h6 class="my-0">Straatverlichting</h6>
                <small class="text-muted">Het onderhoud van straatverlichting gebeurt door <a href="https://www.infrax.be/nl/over-infrax/contacteer-ons/Defecte-straatverlichting">Infrax</a>. Contacteer hen rechtstreeks.</small>
              </div> 
            </li>
            
          </ul>
 
		  
		  
        </div>
        <div class="col-12 col-md-8 col-lg-9 order-md-2">
		
		
		
			<div class="col-12 mb-3 ui-widget">
				<input id="findAddress" class="form-control" placeholder="Zoek adres...">
			</div>
		
			
			<div id="map" class="map" style="height: 400px;"></div>
					
          
						
			<div class="row">
              <div class="col-md-12 mb-3">
                <label for="geomtype">Soort vorm</label>
                <select class="custom-select d-block w-100" id="geomtype" required="">
				<option value="Point">Punt</option>
				<option value="LineString">Lijn (bv. oliespoor)</option>
				<option value="Polygon">Vlak (bv. een zone)</option> 
                </select>
                
              </div>
			
			</div>
			<div class="row">
			
			
			  
				<div class="col-md-12 mb-3"> 
					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" id="geolocate-agree">
						<label class="custom-control-label" for="geolocate-agree">Leid mijn GPS-locatie af<br>
							<small>Werkt best met mobiele toestellen. Nauwkeurigheid hangt af van jouw apparaat en netwerkverbinding. Mogelijk wordt je toestemming nog eens expliciet gevraagd.)</small>
						</label>
					</div> 				
				</div>
				
            </div>
			
			
			
			
			
          <h4 class="mb-3">Contactinfo</h4>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="first_name">Voornaam</label>
                <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
                <div class="invalid-feedback">
                 Een voornaam is vereist.
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="name">Achternaam</label>
                <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
                <div class="invalid-feedback">
                 Een achternaam is vereist.
                </div>
              </div>
            </div>

            <div class="mb-3">
              <label for="email">E-mailadres </label>
              <input type="email" class="form-control" id="email" placeholder="jouwnaam@domein.be">
              <div class="invalid-feedback">
                Geef je e-mailadres zodat we je kunnen contacteren om bijkomende info te vragen of te geven.
              </div>
            </div>
			
            <div class="mb-3">
              <label for="phone">Telefoonnummer <span class="text-muted">(Optioneel)</span> </label>
              <input type="text" class="form-control" id="phone">
               
            </div>
			 
			
			 
			
            <hr class="mb-4">

            <h4 class="mb-3">Mijn melding gaat over ...</h4>

            <div class="d-block my-3" id="Services">
				<!-- Added dynamically -->
            </div>
			
			<hr>
			
			
            <div class="d-block my-3" id="ServiceSubCategories">
				<!-- Added dynamically -->
            </div>
			
			
			<hr>
			
			
			

            <div class="mb-3">
              <label for="attachment">Foto <span class="text-muted">(Optioneel)</span></label><br>
              <!-- <button id="attachment"><input type="file" class="form-control-file d-none"> Foto uploaden</button> -->
			  
			  <!--  The fileinput-button span is used to style the file input field as button  --> 
			  <span class="btn btn-dark fileinput-button" id="attachment" data-filename=""> 
                    <input type="file" id="attachment2" name="files[]">Foto toevoegen
                </span>
				
				<div id="attachment-filename"></div>
				
				
            </div>
 
 
            <hr class="mb-4">
			
			
			
            <div class="mb-3">
              <label for="description">Beschrijving</label><br>
				<textarea class="form-control autoExpand" id="description"></textarea>
			
			</div>
			
			
			
			
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="gdpr-agree">
              <label class="custom-control-label" for="gdpr-agree">Deze gegevens mogen verwerkt worden volgens de Algemene Gegevensverordening (AGV/GDPR) </label>
            </div>
			
			 
			
            <hr class="mb-4">
			
            <button class="btn btn-primary btn-lg btn-block" type="button" id="create-ticket">Melding insturen</button>
          </form>
        </div>
      </div>

      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2018 - {{ "now"|date("Y") }}</p>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="">Privacybeleid</a></li>
        </ul>
      </footer>
    </div>
	
	
	
	{% include 'dialog.html' %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../../libext/vendor/components/jquery/jquery.js"></script>
    <script src="../../libext/vendor/components/jqueryui/jquery-ui.js"></script>
    <script src="../../libext/vendor/twbs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	
		  
	<!-- <script src="js/jquery.iframe-transport.js"></script> -->
	<script src="../../libext/vendor/blueimp/jquery-file-upload/js/jquery.iframe-transport.js"></script>
	<script src="../../libext/vendor/blueimp/jquery-file-upload/js/jquery.fileupload.js"></script>
	
    <script>
	 
	// Example starter JavaScript for disabling form submissions if there are invalid fields
	(function () {
		'use strict';

		window.addEventListener("load", function () {
			// Fetch all the forms we want to apply custom Bootstrap validation styles to
			var forms = $(".needs-validation");

			// Loop over them and prevent submission
			var validation = Array.prototype.filter.call(forms, function (form) {
				form.addEventListener('submit', function (event) {
					if (form.checkValidity() === false) {
						event.preventDefault();
						event.stopPropagation();
					}
					form.classList.add('was-validated');
				}, false);
			});
		}, false);
	})();


	function createTicket() {

		$('#create-ticket').prop('disabled', true);

		$.post('api.php', {
			action: 'createTicket',
			fields: {
				title: 'A test report from the front-end',
				description: $('#description').val(),
				geom: (source.getFeatures().length == 0 ? null : format.writeFeature(source.getFeatures()[0])),
				first_name: $('#firstName').val(),
				name: $('#lastName').val(),
				phone: $('#phone').val(),
				email: $('#email').val(),
				serviceCategoryId: $("input[name='service_category_id']:checked").val()

			},
			attachments: [{
				fileName: $('#attachment-filename').attr('data-filename')
			}]
		}, function (data) {

			console.log(data);
			var ticketFields = data.ticket.objects[Object.keys(data.ticket.objects)[0]].fields;
			console.log('Created a ticket with Ref ' + ticketFields.ref);

			dialogOK('Melding ingestuurd', 'Bedankt, de melding is geregistreerd.<br>Onze diensten verwerken die zo snel mogelijk.');

			$('#create-ticket').prop('disabled', true);


		}, 'json');

	}

	
	cacheAddresses = [];

	// Autocomplete address
	$('#findAddress').autocomplete({
			source: function( request, response ) {
				$.ajax({
					url: 'api.php',
					data: {
						action: 'findAddress', 
						term: request.term
					},
					dataType: 'json',
					success: function(data) {
					
						console.log(data);
					
						var addressNames = $.map( data, function(k,i) {
							var sFriendlyName = k.fields.friendlyname.replace(/  +/g,' ').trim();
							cacheAddresses[sFriendlyName] = k;
							return sFriendlyName;
						});
					
						response(addressNames);
					}
				})
			},
			minLength: 2,
			focus: function (event, ui) {
				$('#findAddress').val(ui.item.value);
				return false;
			},
			select: function (event, ui) {
				  
				// Add this as only point
				var oFeat = format.readFeature(cacheAddresses[ui.item.value].fields.geom);
				source.clear();
				source.addFeature(oFeat);

				// Change zoom & center
				view.setZoom(18);
				view.setCenter(oFeat.getGeometry().getCoordinates());

			}
		});


	// OpenLayers 

	var raster = new ol.layer.Tile({
		source: new ol.source.OSM()
	});


	var sharedStyle = new ol.style.Style({
		fill: new ol.style.Fill({
			color: 'rgb(6,80,140, 0.25)'
		}),
		stroke: new ol.style.Stroke({
			color: 'rgb(6,80,140)',
			width: 2
		}),
		image: new ol.style.Circle({
			radius: 7,
			fill: new ol.style.Fill({
				color: 'rgb(139,196,88)'
			}),
			stroke: new ol.style.Stroke({
				color: 'rgb(0,0,0)',
				width: 1.1
			})
		})
	});

	var format = new ol.format.WKT();
	var source = new ol.source.Vector();
	var view = new ol.View({
		center: [357858.55554610403, 6606449.760195939],
		zoom: 12
	});
	var vector = new ol.layer.Vector({
		source: source,
		style: sharedStyle
	});

	var map = new ol.Map({
		layers: [raster, vector],
		target: 'map',
		view: view
	});

	var modify = new ol.interaction.Modify({
		source: source
	});
	map.addInteraction(modify);

	var draw, snap; // global so we can remove them later


	function addInteractions() {

		draw = new ol.interaction.Draw({
			source: source,
			type: $('#geomtype').val(),
			style: sharedStyle
		});

		// On drawend: remove previous features 
		draw.on('drawstart', function (evt) {

			// Clear previous features
			source.clear();

		});

		map.addInteraction(draw);
		snap = new ol.interaction.Snap({
			source: source
		});
		map.addInteraction(snap);

	}

	/**
	 * Handle change event.
	 */
	$(document.body).on('change', '#geomtype', function () {
		console.log('change!');
		map.removeInteraction(draw);
		map.removeInteraction(snap);
		addInteractions();
	});

	addInteractions();


	// Geolocation  

	var geolocation = new ol.Geolocation({
		// enableHighAccuracy must be set to true to have the heading value.
		trackingOptions: {
			enableHighAccuracy: true
		},
		projection: map.getView().getProjection()
	});


	$(document.body).on('change', '#geolocate-agree', function () {

		geolocation.setTracking($('#geolocate-agree').prop('checked'));

	});


	// handle geolocation error.
	geolocation.on("error", function (error) {
	
		dialogError('Localisatie-probleem', 'De locatie kan niet bepaald worden: ' + error.message);
		
	});


	geolocation.on('change:position', function () {
	
		var coordinates = geolocation.getPosition();

		// center map instead 
		if (coordinates) {
			view.setCenter(coordinates);
			view.setZoom(18);
		}

	});


	// Report 
	$(document.body).on('click', '#create-ticket', function (e) {
		createTicket();
	});


	var api_Services = {{ Services | json_encode() }};
	var api_ServiceSubCategories = {{ ServiceSubCategories | json_encode() }};

	$.each(api_Services, function (i) {

		var s = api_Services[i];

		$('#Services').append(
			'<div class="custom-control custom-radio">' +
			'	<input id="service_' + s.key + '" name="services" type="radio" class="custom-control-input" required>' +
			'	<label class="custom-control-label" for="service_' + s.key + '">' + s.fields.name + '</label>' +
			'</div>'
		);
	});

	$(document.body).on('click', '[name="services"]', function (e) {

		$('#ServiceSubCategories').html('');

		$.each(api_ServiceSubCategories, function (i) {

			var c = api_ServiceSubCategories[i];

			$('#ServiceSubCategories').append(
				'<div class="custom-control custom-radio">' +
				'	<input id="servicesubcategory_' + c.key + '" name="servicesubcategories" type="radio" class="custom-control-input" required>' +
				'	<label class="custom-control-label" for="servicesubcategory_' + c.key + '">' + c.fields.name + '</label>' +
				'</div>'
			);

		});

	});		
	  

	// Fileupload
	$(function() {
		$('#attachment').fileupload({
			url: 'upload.php',
			dataType: 'json',
			done: function (e, data) {
				$.each(data.result.files, function (index, file) {
				 
					$("#attachment-filename").text(file.name).attr("data-filename", file.name) ;
					
				});
			}
		});
	}); 
	 
	
	// Applied globally on all textareas with the "autoExpand" class
	$(document)
		.one('focus.autoExpand', 'textarea.autoExpand', function(){
			var savedValue = this.value;
			this.value = '';
			this.baseScrollHeight = this.scrollHeight;
			this.value = savedValue;
		})
		.on('input.autoExpand', 'textarea.autoExpand', function(){
			var minRows = this.getAttribute('data-min-rows')|2, rows;
			this.rows = minRows;
			rows = Math.ceil((this.scrollHeight - this.baseScrollHeight) / 16);
			this.rows = minRows + rows;
		});
	
	</script>


  </body>
</html>
