<html>
	<head>
		<title>{{ 'Ticket:baseinfo'|dict_s }}</title>
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	</head>
	<body>
	
		<div class="container">
		
			<h1>{{ item.title }}</h1>
			
			<p>
				<b>{{ 'Class:Ticket/Attribute:ref'|dict_s }}</b> {{ item.fields.ref }}<br>
				<b>{{ 'Class:Ticket/Attribute:caller_id'|dict_s }}</b> {{ item.fields.caller_id_friendlyname }}<br>
				<b>{{ 'Class:Ticket/Attribute:agent_id'|dict_s }}</b> {{ item.fields.agent_id_friendlyname }}<br>
			</p>
			
			{{ item.description }}
			
			
		
		</div>
		

		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	
	</body>
</html>